<form name="vm.optionForm" ng-submit="vm.onSubmit(vm.option)" class="panel panel-default">
    <div class="panel-body">
        <div class="form-group col-xs-12">
            <label for="option">Option</label>
            <input id="option" name="option" class="form-control" ng-model="vm.option" type="text" placeholder="Enter option....." autocomplete="off" required> </input>
        </div>

        <div class="panel-footer text-right">
            <button type="submit" class="btn btn-xs btn-success">Submit</button>
            <button type="reset" class="btn btn-xs btn-default" ng-click="vm.onReset()">Reset</button>
        </div>
    </div>>
</form>