<form name="vm.choiceForm" ng-submit="vm.onSubmit(vm.choice)" class="panel panel-default">
    <div class="panel-body">
        <div class="form-group col-xs-12">
            <label for="choice">Choice</label>
            <input id="choice" name="choice" class="form-control" ng-model="vm.choice" type="text" placeholder="Enter choice....." autocomplete="off" required> </input>
        </div>

        <div class="panel-footer text-right">
            <button type="submit" class="btn btn-xs btn-success">Submit</button>
            <button type="reset" class="btn btn-xs btn-default" ng-click="vm.onReset()">Reset</button>
        </div>
    </div>
</form>